<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="mailnotifier" class="org.jwebsocket.watchdog.notifier.MailNotifier">
    <!-- collaborators and configuration for this bean go here -->
	<property name="host" 			value="10.208.0.44"/>
	<property name="port" 			value="465"/>
	<property name="subject" 		value="Warning!!!"/>
	<property name="id" 			value="1"/>
	<property name="description" 	value="Testingggg"/>
	<property name="from" 			value="admin@hab.uci.cu"/>
	<property name="usersList">
    <list>
      <value>lzaila@hab.uci.cu</value>
      <value>ygfernandez@hab.uci.cu</value>
    </list>
  </property>
</bean>
 </beans>
