#sbtnEndPointInfo{
	width: 120px;
}

#sbtnStickyRoutes{
	width: 120px;
}

#sbtnCreateServiceEndPoint{
	width: 225px;
}

#sbtnDeregisterServiceEndPoint{
	width: 220px;
}

#sbtnShutdownEndpoint{
	width: 170px;
}

#stdDlg{
	width: 90px;
}

#stdCluster{
	width: 140px;
}

#stdDlgx{
	width: 30px;
}

#stdSelect{
	width: 90px;
}

#stdService{
	width: 90px;
}

#sbtnSum{
	width: 80px;
}

#sbtnMul{
	width: 80px;
}

#stxPass{
	width: 80px;
}

#sbtnChoAlg{
	width: 90px;
}

#stdPass{
	width: 70px;
}

#stdAlg{
	width: 140px;
}

#sbtnTest{
	width: 130px;
}

#sbtnLoad{
	width: 130px;
}



