<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC 
	"-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- for details of this file format and content please refer to 
		http://wiki.apache.org/logging-log4j/Log4jXmlFormat
	-->

	<appender name="productionLog" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- Attention, current only ${JWEBSOCKET_HOME} is supported as env var here -->
		<param name="file" value="${JWEBSOCKET_HOME}logs/jWebSocket.log" />
		<!-- date pattern controls the roll-over not the date format -->
		<param name="datePattern" value="'.'yyyy-MM-dd"/>
		<!-- specify whether to use write cache (buffer) or not, recommended for production -->
		<param name="bufferedIO" value="true" />
		<!-- size of IO buffer, when writing to file, recommended for production -->
		<param name="bufferSize" value="16384" />
		<!-- trace, debug, info, warn, error or fatal --> 
		<param name="threshold" value="debug"/>
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %C{1}: %m%n" />
		</layout>
	</appender>
	
	<appender name="developmentLog" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="debug"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %C{1}: %m%n" />
		</layout>
	</appender>

	<appender name="debugLog" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- Attention, currently only ${JWEBSOCKET_HOME} is supported as env var -->
		<param name="file" value="${JWEBSOCKET_HOME}logs/jWebSocket.log" />
		<!-- specify whether to use write cache (buffer) or not, not recommended for debug -->
		<param name="bufferedIO" value="false" />
		<!-- size of IO buffer, when writing to file, not recommended for debug -->
		<param name="bufferSize" value="16384" />
		<!-- date pattern controls the roll-over not the date format -->
		<param name="datePattern" value="'.'yyyy-MM-dd"/>
		<!-- trace, debug, info, warn, error or fatal --> 
		<!-- <param name="threshold" value="debug"/> -->
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %C{1}: %m%n" />
		</layout>
	</appender>
	
	<!-- this log setting is used for the automated tests -->
	<appender name="testLog" class="org.apache.log4j.FileAppender">
		<!-- Attention, currently only ${JWEBSOCKET_HOME} is supported as env var -->
		<param name="file" value="${JWEBSOCKET_HOME}logs/jWebSocket_AutomatedTests.log" />
		<!-- date pattern controls the roll-over not the date format -->
		<param name="datePattern" value="'.'yyyy-MM-dd"/>
		<!-- specify whether to use write cache (buffer) or not, not recommended for debug -->
		<param name="bufferedIO" value="false" />
		<!-- size of IO buffer, when writing to file, not recommended for debug -->
		<param name="bufferSize" value="16384" />
		<!-- trace, debug, info, warn, error or fatal --> 
		<param name="threshold" value="debug"/>
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p - %C{1}: %m%n" />
		</layout>
	</appender>
	
	<!-- send all error logs to my email address -->
	<appender name="mailLog" class="org.apache.log4j.net.SMTPAppender">
	    <!-- send only errors per email -->
		<param name="threshold" value="error" />
		<!-- insert hostname of your mail server -->
		<param name="SMTPHost" value="localhost" />
		<!-- insert password to send mails via the SMTP server -->
		<param name="SMTPUsername" value="your SMTP username" />
		<!-- insert password to send mails via the SMTP server -->
		<param name="SMTPPassword" value="your SMTP password" />
		<!-- insert from address in the mails (sender) -->
		<param name="from" value="jWebSocketServer@yourdomain.tld" />
		<!-- insert to address for the mails (receiver) -->
		<param name="to" value="admin@yourdomain.tld" />
		<!-- insert to subject for the mails -->
		<param name="subject" value="jWebSocket Server Error Notification" />
	    <!-- if the buffer contains xx mails, the email should be sent -->
		<param name="bufferSize" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="jWebSocket Server Error Event%n%nTime  : %d{yyyy-MM-dd HH:mm:ss,SSS z}%nLevel : %-5p%nClass : %C%nFile  : %F%nLine  : %L%nMethod: %M%n%n%m%n%n%n" />
		</layout>
	</appender>	
	
	<appender name="jmsLog" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- Attention, current only ${JWEBSOCKET_HOME} is supported as env var here -->
		<param name="file" value="${JWEBSOCKET_HOME}logs/jmslog.log" />
		<!-- date pattern controls the roll-over not the date format -->
		<param name="datePattern" value="'.'yyyy-MM-dd"/>
		<!-- specify whether to use write cache (buffer) or not, recommended for production -->
		<param name="bufferedIO" value="false" />
		<!-- size of IO buffer, when writing to file, recommended for production -->
		<param name="bufferSize" value="1024" />
		<!-- trace, debug, info, warn, error or fatal --> 
		<param name="threshold" value="debug"/>
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS}: %m%n" />
		</layout>
	</appender>
	
	<!-- special treatment for all logging activities of the spring-framework -->
	<logger name="org.springframework" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="developmentLog"/>
	</logger>

	<!-- special treatment for all logging activities of the jWebSocket framework -->
	<logger name="org.jwebsocket" additivity="false">
		<!-- TRACE, DEBUG, INFO, WARN, ERROR or FATAL --> 
		<level value="DEBUG"/>
		<!--  select one of the above declared appenders -->
		<appender-ref ref="developmentLog"/>
	</logger>

	<!-- special treatment for all logging activities of the jWebSocket load balancer -->
	<logger name="org.jwebsocket.plugins.loadbalancer.LoadBalancerFilter" additivity="false">
		<!-- TRACE, DEBUG, INFO, WARN, ERROR or FATAL --> 
		<level value="INFO"/>
		<!--  select one of the above declared appenders -->
		<appender-ref ref="developmentLog"/>
	</logger>

	<!-- special treatment for all logging activities of the jWebSocket statistic plug-in -->
	<logger name="org.jwebsocket.plugins.statistics.StatisticsFilter" additivity="false">
		<!-- TRACE, DEBUG, INFO, WARN, ERROR or FATAL --> 
		<level value="INFO"/>
		<!--  select one of the above declared appenders -->
		<appender-ref ref="developmentLog"/>
	</logger>

	<!-- special treatment for all logging activities of the jWebSocket sample filter -->
	<logger name="org.jwebsocket.filters.sample.SampleFilter" additivity="false">
		<!-- TRACE, DEBUG, INFO, WARN, ERROR or FATAL --> 
		<level value="INFO"/>
		<!--  select one of the above declared appenders -->
		<appender-ref ref="developmentLog"/>
	</logger>

	<!-- special treatment for all logging activities of the jWebSocket system filter -->
	<logger name="org.jwebsocket.filters.system.SystemFilter" additivity="false">
		<!-- TRACE, DEBUG, INFO, WARN, ERROR or FATAL --> 
		<level value="INFO"/>
		<!--  select one of the above declared appenders -->
		<appender-ref ref="developmentLog"/>
	</logger>

	<!-- special treatment for all logging activities on the JMS gateway -->
	<logger name="org.jwebsocket.plugins.jms.gateway.JMSLogger" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="jmsLog"/>
	</logger>
	
	<root>
		<!-- default level: TRACE, DEBUG, INFO, WARN, ERROR or FATAL --> 
		<priority value="WARN" />
		<!-- select one of the above declared appenders -->

		<!-- for automated tests: -->
		<!-- <appender-ref ref="testLog" /> -->

		<!-- during the development -->
		<appender-ref ref="developmentLog"/>
		<appender-ref ref="jmsLog"/>

		<!-- during debug cycles  -->
		<!-- <appender-ref ref="debugLog"/> -->
	</root>

</log4j:configuration>
