<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- ####### Setting up the global CacheManager ####### -->

	<!--  EhCache Storage provider -->
	<bean id="cacheProviderEhCache" class="org.jwebsocket.storage.ehcache.EhCacheStorageProvider">
	</bean>
	
	<!--  Memory Storage provider -->
	<bean id="cacheProviderMemory" class="org.jwebsocket.storage.memory.MemoryStorageProvider">
	</bean>

</beans>