#scenario_container {
	font-family: Verdana,sans-serif;
}
.description_box{
	float:right;
    margin-top: 25px;
    margin-right: 5px;
	width:160px;
	font-family: Verdana,sans-serif;
	font-size: 11px;
	font-style: normal;
	border-style: dashed;
	border-width: 0.05px;
}
.box_header {
    margin: -1px -1px 0 -1px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background: #2584C1 url(../img/header.png) repeat-x;
    height: 15px;
	width: 100%;
    color: white;
    font-family: "Verdana";
    font-size: 11px;
    padding: 7px 1px 4px 20px;
    font-weight: bold;

    background: rgb(134,173,216); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2YWRkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTg1YzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(134,173,216,1) 0%, rgba(37,133,193,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,173,216,1)), color-stop(100%,rgba(37,133,193,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(134,173,216,1) 0%,rgba(37,133,193,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(134,173,216,1) 0%,rgba(37,133,193,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(134,173,216,1) 0%,rgba(37,133,193,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(134,173,216,1) 0%,rgba(37,133,193,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86add8', endColorstr='#2585c1',GradientType=0 ); /* IE6-8 */
}
.box_content{
	background: #fff;
    color: #797878;
    height: 75%;
	width: 100%;
    font-size: 12px;
	-moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-radius: 0px 0px 6px 6px;
	padding: 10px 10px 10px 10px !important;
}
.box_content_gen{
	background: #fff;
    color: #797878;
    height: 68%;
	width: 100%;
    font-size: 12px;
	-moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-radius: 0px 0px 6px 6px;
	padding: 10px 10px 10px 10px !important;
}

.box_content_genbtn{
	margin-top: -3px;
	background: #fff;
    color: #797878;
    height: 25px;
	width: 100%;
    font-size: 12px;
	-moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-radius: 0px 0px 6px 6px;
	padding: 10px 10px 10px 10px !important;
}

/*get report*/
.jws_get_reports{
	float:left;
	margin-top: 5px;
	margin-left: 5px;
	height:auto;
	width:260px;
}
.select_reports_btn{
	margin-left: 5px;	
	margin-top: 3px;
	width:140px !important;
}

/*upload template*/
.jws_upload_template{
	float: right;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 5px;
	height:auto;
	width:360px;

}
/*create report*/
.jws_create_report{
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	width: 480px;
	height:160px;

}
.upload_template_btn{
	margin-left: 5px;
	width:210px;

}
.jws_create_report_cmb{
	float: left;
	margin-left: 70px;
	margin-top: -16px;
	width:150px;
}
.jws_connection{
	float: left;
	margin-left: 15px;
}
.jws_create_report_chk{
	margin-top: 6px;
}
.jws_fields_params{
	margin-left: 8px;
	padding: 0px;
	float: left;
}
.jws_fields_label{
	margin-left: -8px;
	margin-top: 20px;
}
.jws_fields_txta{
	margin-left: 60px;
	margin-top: -15px;
	width: 400px;
	height: 16px;
}
.jws_params_label{
	margin-left: -473px;
	margin-top: 65px;
}
.jws_params_txta{
	margin-left: -405px;
	margin-top: -20px;
	width: 400px;
	height: 16px;
}
.jws_fields{
	float:left;
}
.jws_params{
	float: right;
}
#log_box{
	width:680px;
}
.jws_log_box{
	margin-top:85px !important;
}

#hide_icon{
	background-image: url(../../../res/img/hide_log.png);
	height:18px;
	width:18px;
	cursor: pointer;
}

#show_icon{
	background-image: url(../../../res/img/show_log.png);
	height:18px;
	width:18px;
	cursor: pointer;
}

#show_icon_help{
	background-image: url(../../../res/img/show_log.png);
	height:18px;
	width:18px;
	cursor: pointer;
	margin-top:140px;
	margin-left:10px;
}

#hide_icon_text{
	float:right;
	margin-top:-18px;
	margin-right:350px;
}

#hide_icon_help_text{
	width:93%;
	border-bottom-style: ridge;
	float:left;
	margin-left:30px;
	margin-top:-17px;
	font-family: Verdana,sans-serif;
	font-size: 11px;
}


#hide_icon_banner{
	background: #fff;
    color: #797878;
    height: 25px;
	width: 100%;
    font-size: 12px;
	-moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
	padding: 10px 10px 10px 10px !important;
}
#box_report_params{
	background-color:  silver;
	height:5px;
	border:solid;
}
#pdf_area{
	margin-top: 40px;
	margin-bottom: -80px;
	width: 99.5%;
    height: 300px;
}