*{
	font-family: "Verdana";
}

.form input{
	color: #969696;
}

#functional_box_header{
    height: 18px;
    color: #414141;
    font-family: fantasy;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 2px;
}

#functional_box_header a{
    background: #c8c8c8;
    display: inline;
    border: 1px solid #C8C8C8;
    border-bottom: none;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    text-decoration: none;
    cursor: pointer;
	float: left;
	padding: 0 20px 0 20px;
	font-size: 11px;
	font-style: normal;  
	margin-right: 3px;
	height: 25px;
}

#functional_box_header a span{
    margin-top: 6px;
    float: left;
}

#functional_box_header a:hover{
    background: #E4E4E4;
}

#functional_box_header a.pressed{
    background: #E4E4E4;
}

.text{
    overflow: auto;
    height: 60px;
    padding: 5px 3px 3px 10px;
    color: #797878;
    font-size: 11px;
}

#functional_box_content{
    background: #E4E4E4;    
    height: auto;
    border: 1px solid #C8C8C8;
	float: left;
	width: 98%;
	padding: 5px;
}

.functional_box_content_buttons{
    height: 30px;
    margin-top: 5px;
    padding: 5px 5px 5px 20px;
	text-align: center;
}

.functional_box_content_buttons > div{
    display: inline;
    height: 25px;
    float:left;
    margin-left: 5px;
    cursor: pointer;
}

#functional_box_content #functional_box_header{
	width: 550px;
}

#functional_box_content #functional_box_content{
	height: auto;
}

#functional_box_content .area{
	float: left;
	height: 180px;
}

#functional_box_content .form label {
	font-size: 10px;
	font-weight: bold;
	color: #969696;
	float: left;
	padding: 2px 0 2px 5px;
	text-align: left;
}

#functional_box_content .form{
	width: 200px;
	height: auto;
	margin-bottom: 10px;
}

#functional_box_content .form label{
	width: 100%;
	float: left;
}

#functional_box_content .form input{
	margin-bottom: 10px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

#functional_box_content .bt_container{
	float: left;
}

#functional_box_content .text{
	float: left;
	width: 20%;
	height: auto;
	padding: 5px;
	margin-right: 10px;
}
#functional_box_content .right{
	float: left;
	width: 40%;
}

.complex_object_btn{
    padding-bottom: 10px;
    float: left;
}

#button_container{
    margin-top: 8px;
}

/*FUNTIONAL BOX*/
#functional_box_header{
    float: left;
    width: 390px;
    height: 24px; 
}


.tab_element{
	display: none;
}

.is_public{
	width: auto !important;
	float: left;
}

.public_cb{
	width: 80px;
	padding-top: 5px;
	float: left;
}