#sbtnEndPointInfo{
	width: 120px;
}

#sbtnStickyRoutes{
	width: 120px;
}

#sbtnRegisterServiceEndPoint{
	width: 200px;
}

#sbtnDeregisterServiceEndPoint{
	width: 220px;
}

#sbtnShutdownEndpoint{
	width: 150px;
}

#stdDlg{
	width: 100px;
}

#stdDlgx{
	width: 30px;
}

#stdSelect{
	width: 100px;
}

#sbtnSum{
	width: 80px;
}

#sbtnMul{
	width: 80px;
}

#stxPass{
	width: 80px;
}


