#demo_box{
	width: 718px;
}

.description_box{
    float: left;
    width: 60%;
}

.description_box p{
    margin-left: 3px;
}

.options_box{
	background: #E4E4E4;
	border: 1px solid #C8C8C8;
	margin-top: 20px;
	margin-bottom: 5px;
	float: left;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#file_tree {
	word-wrap: break-word;
	font-size: 8pt;
	padding: 5px 0 10px 5px;
	font-weight: bold;
	background: white;
	width: 99%;
	min-height: 50px;
	float: left;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	margin-bottom: 10px;
}

#file_tree .folder{
	margin: 5px;
	float: left;
	min-width: 32px;
	min-height: 32px;
	height: 40px;
	width: auto;
	max-width: 60px;
	padding-top: 33px;
	font-weight: normal;
	text-align: center;
	background: url(images/folder.png) top center no-repeat;
	cursor: pointer;
	display: inline;
}
#file_tree .file{
	display: inline;
	float: left;
	margin: 5px;
	min-width: 32px;
	min-height: 32px;
	height: 40px;
	max-width: 60px;
	padding-top: 33px;
	font-weight: normal;
	text-align: center;
	background: url(images/file.png) top center no-repeat;
	cursor: pointer;
}

#upload_options{
	width: 35%;
	float: right;
	padding-right: 5px;
}

#buttons_area{
	width: 98%;
	padding: 5px;
}

#buttons_area .centered{
	margin: auto;
	width: 70%;
}

#scope{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}

#chunkSize, #alias, #filemask{
	float: left;
	width: 100%;
}

#options{
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
	font-weight: bold;
	margin-top: 10px;
}

#chunkSize input, #alias input, #filemask input{
	float: right;
	padding-left: 5px;
	width: 50%;
	margin-bottom: 4px;
}

.buttons{
	float: left;
	margin: auto;
	padding: 5px 5px 5px 15px;
	width: 90%;
	font-size: 11px;
}

.buttons .button .btn_center{
	width: 125px;
}

#filelist{
	max-height: 400px;
	background: #e4e4e4;
	border: 1px solid #c8c8c8;
	border-top: none;
	border-bottom: none;
	float: left;
	width: 100%;
	overflow: auto;
	border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
}

#filelist table{
	background: #FFFFFF;
	font-family: "Verdana";
	font-size: 12px;
	width: 100%;
}


#filelist table tbody tr td{
	border-top: 1px solid #efefef;
}

#filelist table thead tr{
	background: #82abd7;
	padding: 5px;
	height: 20px;
	color: white;
    font-family: "Verdana";
    font-size: 11px;
    font-weight: bold;

}
#filelist table tr td{
	padding-left: 5px;
	height: 20px;
	border-left: 1px solid #e4e4e4;
	font-size: 8pt !important;
}
#filelist table thead tr td.first{
	border-radius: 6px 0 0px 0px;
	-webkit-border-radius: 6px 0 0px 0px;
	-moz-border-radius: 6px 0 0px 0px;
}
#filelist table thead tr td.last{
	border-radius: 0 6px 0px 0px;
	-webkit-border-radius: 0 6px 0px 0px;
	-moz-border-radius: 0 6px 0px 0px;
}

#filelist table tr.status_ready{
	background: white;
}

#filelist table tr.status_uploading{
	background: #fcfde0;
}

#filelist table tr.status_uploaded{
	background: #f1fff1;
}

#filelist table tr.status_error{
	background: white;
	color: red;
	font-weight: bold;
	border: 1px dotted red;
}

#filelist table thead tr:hover{
	background: #82abd7 !important;
}

#filelist tr:hover{
	background: #baccff;
}

.delete_file{
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(images/cancel.gif) center center no-repeat;
}

.pauseUpload{
	display: none;
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(images/pause.png) center center no-repeat;
}

.resumeUpload{
	float: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(images/play.png) center center no-repeat;
}